{% extends 'admin/base.html.twig' %}
{% block title %}Liste des étudiants{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">
                                            <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            Liste des étudiants
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {# Main page content #}
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                                    <i class="fas fa-users"></i>&ensp;Liste des étudiants
                                </span>
                            </li>
                            <li class="nav-item ml-auto m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('reflesh_students') }}">
                                    <i class="bi bi-person-plus"></i>&ensp;ACTUALISER
                                </a>
                            </li>
                            {#<li class="nav-item ml-auto m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('add_students') }}">
                                    <i class="bi bi-person-plus"></i>&ensp;AJOUTER
                                </a>
                            </li>#}
                            {#<li class="nav-item m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('imports_students') }}">
                                    <i class="fas fa-file-import"></i>&ensp;AJOUTER PAR IMPORTATION
                                </a>
                            </li>#}
                            <li class="nav-item m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('reflesh_registrations') }}">
                                    <i class="fas fa-arrow-right"></i>&ensp;AFFECTATION
                                </a>
                            </li>
                            {#<li class="nav-item m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('grouped_assignment_by_import') }}">
                                    <i class="fas fa-upload"></i>&ensp;AFFECTATION PAR IMPORTATION
                                </a>
                            </li>#}
                        </ul>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-success">Rechercher&ensp;<i class="fas fa-search"></i></button>
                        {{ form_end(form) }}
                        <br>
                        {% if students %}
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-secondary">
                                <tr class="text-uppercase font-weight-bold text-center text-white">
                                    <th class="align-middle">Nom et Prénoms</th>
                                    <th class="align-middle">E-mail</th>
                                    <th class="align-middle">Inscriptions</th>
                                    <th class="align-middle">Statut</th>
                                    <th class="align-middle">Réclamations</th>
                                    <th class="align-middle">Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td>{{ student.fullName }}</td>
                                        <td>{{ student.email }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{{ path('show_students_cursus', {'id': student.id}) }}">
                                                {{ student.registrations|length }}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            {% if student.blocked == false or student.blocked == null %}
                                                <i class="fas fa-user-check text-success"></i>
                                            {% else %}
                                                <i class="fas fa-user-times text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{{ path('show_students_claims', {'id': student.id}) }}">
                                                {{ student.claims|length }}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ path('update_student', {'id': student.id}) }}" class="btn btn-success btn-sm">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a href="{{ path('reset_student_password', {'id': student.id}) }}" class="btn btn-warning btn-sm">
                                                <i class="fas fa-sync-alt"></i>
                                            </a>
                                            <a href="{{ path('delete_students', {'id': student.id}) }}" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </main>
        <footer class="footer mt-auto footer-light">
            {#  footer #}
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}