{% extends 'base/base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="container-fluid mt-3">
        {% if app.user %}
            {% if app.user.profile == "ETUDIANT" %}
            {# ETUDIANT #}
                <div class="card mb-4 card-header-actions h-100">
                    <div class="card-header text-white" style="background-color:#800080;">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                                    <i class="fas fa-ellipsis-h"></i>&ensp;Vos Réclamations
                                </span>
                            </li>
                        </ul>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus"></i>&nbsp;Faire des réclamations&nbsp;
                            </button>
                            <div class="dropdown-menu dropdown-menu-right p-4" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" href="{{ path('student_semesters_index') }}">
                                    Examens
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('student_semesters_index') }}">
                                    Devoirs
                                </a>
                                {#<div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('add_other_category_claim') }}">
                                    Contenu de cours
                                </a>#}
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs mt-2 text-uppercase">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#dev">DEVOIRS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#exam">EXAMENS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#other">CONTENU DE COURS</a>
                        </li>
                        {#<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tech">TECHNIQUES</a>
                        </li>#}
                    </ul>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane container active" id="dev">
                                <div class="datatable">
                                    <table class="display table table-striped table-bordered table-hover" id="" width="100%" cellspacing="0">
                                        <thead class="bg-secondary">
                                            <tr class="text-uppercase font-weight-bold text-center text-white">
                                                <th class="align-middle">#ID</th>
                                                <th class="align-middle">Date</th>
                                                <th class="align-middle">Matière</th>
                                                <th class="align-middle">Devoir</th>
                                                <th class="align-middle">Libellé de la réclamation</th>
                                                <th class="align-middle">Réponses</th>
                                                <th class="align-middle">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for dev_claim in dev_claims %}
                                            <tr class="align-middle">
                                                <td class="text-center align-middle">{{ dev_claim.id }}</td>
                                                <td class="text-center align-middle">{{ dev_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</td>
                                                <td class="text-center align-middle">{{ dev_claim.matterSpeciality.matiere }}</td>
                                                <td class="text-center align-middle">{{ dev_claim.evaluation }}</td>
                                                <td class="text-center align-middle">{{ dev_claim.wording }}</td>
                                                <td class="text-center align-middle">
                                                    {% set nbAns = dev_claim.answers|length %}
                                                    {% if nbAns != 0 %}
                                                        <span class="badge badge-pill badge-success pl-2 pr-2">{{nbAns}}</span>
                                                    {% else %}
                                                        <span class="badge badge-pill badge-danger pl-2 pr-2">{{nbAns}}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center align-middle">
                                                    <a href="{{ path('account_evaluations_claims_view', {'id' : dev_claim.matterSpeciality.id, 'claim_id' : dev_claim.id}) }}" class="btn btn-success btn-sm">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="exam">
                                <div class="datatable">
                                    <table class=" display table table-striped order-column table-bordered table-hover" id="" width="100%" cellspacing="0">
                                        <thead class="bg-secondary">
                                            <tr class="text-uppercase font-weight-bold text-center text-white">
                                                <th class="align-middle">#ID</th>
                                                <th class="align-middle">Date</th>
                                                <th class="align-middle">Session</th>
                                                <th class="align-middle">Sémestre</th>
                                                <th class="align-middle">Matière</th>
                                                <th class="align-middle">Libellé de la réclamation</th>
                                                <th class="align-middle">Réponses</th>
                                                <th class="align-middle">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for exam_claim in exams_claims %}
                                            <tr class="align-middle">
                                                <td class="text-center align-middle">{{ exam_claim.id }}</td>
                                                <td class="text-center align-middle">{{ exam_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</td>
                                                <td class="text-center align-middle">{{ exam_claim.examination.exam.session }}</div>
                                                <td class="text-center align-middle">{{ exam_claim.examination.exam.semester }}</td>
                                                <td class="align-middle">{{ exam_claim.examination.matterSpecialty.matiere }}</td>
                                                <td class="align-middle">{{ exam_claim.wording }}</td>
                                                <td class="text-center align-middle">
                                                    {% set nbAns = exam_claim.answers|length %}
                                                    {% if nbAns != 0 %}
                                                        <span class="badge badge-pill badge-success pl-2 pr-2">{{nbAns}}</span>
                                                    {% else %}
                                                        <span class="badge badge-pill badge-danger pl-2 pr-2">{{nbAns}}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center align-middle">
                                                    <a href="{{ path('account_examination_claims_view', {'id' : exam_claim.examination.id, 'claim_id' : exam_claim.id}) }}" class="btn btn-success btn-sm">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="other">
                                <div class="datatable">
                                    <table class="display table table-striped table-bordered table-hover" id="" width="100%" cellspacing="0">
                                        <thead class="bg-secondary">
                                            <tr class="text-uppercase font-weight-bold text-center text-white">
                                                <th class="align-middle">#ID</th>
                                                <th class="align-middle">Date</th>
                                                <th class="align-middle">Libellé réclamation</th>
                                                {#<th class="align-middle">Auteur</th>#}
                                                <th class="align-middle">Réponses</th>
                                                <th class="align-middle">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for m_claim in m_claims %}
                                            <tr class="align-middle">
                                                <td class="text-center align-middle">{{ m_claim.id }}</td>
                                                <td class="text-center align-middle">{{ m_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</td>
                                                <td class="align-middle">{{ m_claim.wording }}</td>
                                                {#<td class="align-middle">{{ m_claim.author.fullName }}</td>#}
                                                <td class="text-center align-middle">
                                                    {% set nbAns = m_claim.answers|length %}
                                                    {% if nbAns != 0 %}
                                                        <span class="badge badge-pill badge-success pl-2 pr-2">{{nbAns}}</span>
                                                    {% else %}
                                                        <span class="badge badge-pill badge-danger pl-2 pr-2">{{nbAns}}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center align-middle">
                                                    <a href="{{ path('account_others_claims_view', {'id' : m_claim.id}) }}" class="btn btn-success btn-sm">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {#<div class="tab-pane container fade" id="tech">
                                <div class="datatable">
                                    <table class="display table table-striped table-bordered table-hover" id="" width="100%" cellspacing="0">
                                        <thead class="bg-secondary">
                                            <tr class="text-uppercase font-weight-bold text-center text-white">
                                                <th class="align-middle">#ID</th>
                                                <th class="align-middle">Date</th>
                                                <th class="align-middle">Libellé réclamation</th>
                                                <th class="align-middle">Auteur</th>
                                                <th class="align-middle">Réponses</th>
                                                <th class="align-middle">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for tech_claim in tech_claims %}
                                            <tr class="align-middle">
                                                <td class="text-center align-middle">{{ tech_claim.id }}</td>
                                                <td class="text-center align-middle">{{ tech_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</td>
                                                <td class="align-middle">{{ tech_claim.wording }}</td>
                                                <td class="align-middle">{{ tech_claim.author.fullName }}</td>
                                                <td class="text-center align-middle">
                                                    {% set nbAns = tech_claim.answers|length %}
                                                    {% if nbAns != 0 %}
                                                        <span class="badge badge-pill badge-success pl-2 pr-2">{{nbAns}}</span>
                                                    {% else %}
                                                        <span class="badge badge-pill badge-danger pl-2 pr-2">{{nbAns}}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center align-middle">
                                                    <a href="{{ path('account_others_claims_view', {'id' : tech_claim.id}) }}" class="btn btn-outline-success btn-sm">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>#}
                        </div>
                    </div>
                </div>       
            {# FIN ETUDIANT #}
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-success">
                <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('table.display').DataTable();
        } );
    </script>
{% endblock %}
