{% extends 'base/base.html.twig' %}
{% block title %}Devoirs - Matières{% endblock %}
{% block body %}
    <div class="container-fluid mt-3">
        {% if app.user %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a href="{{ path('account') }}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('student_semesters_index') }}">Inscriptions</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{semester}}</li>
                </ol>
            </nav>
            {% if app.user.profile == "ETUDIANT" %}
                <div class="card mb-4 card-header-actions h-100">
                    <div class="card-header text-white text-uppercase" style="background-color:#800080;">
                        <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                          {{level.coded}} - {{specialty.coded}} / ECUE
                        </span>
                    </div>
                    <ul class="nav nav-tabs text-uppercase mt-2">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#ecue">Matières</a>
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane container active" id="ecue">
                                <div class="datatable">
                                    <table class="table display table-striped table-bordered table-hover" id="" width="100%" cellspacing="0">
                                        <thead class="bg-secondary">
                                            <tr class="text-uppercase font-weight-bold text-center text-white">
                                                <th class="align-middle">Libellé</th>
                                                <th class="align-middle">Spécialité</th>
                                                <th class="align-middle">Niveau</th>
                                                <th class="align-middle">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if mattersSpecialties is empty  %}
                                                <tr>
                                                    <td colspan="4"> Vous ne pouvez pas faire de reclamations sur un devoir actuellement</td>
                                                </tr>
                                            {% else %}
                                                {% for matterSpecialty in mattersSpecialties %}
                                                    <tr>
                                                        <td class="align-middle">{{ matterSpecialty.matiere }}</td>
                                                        <td class="text-center align-middle">{{ matterSpecialty.codeSpecialite }}</td>
                                                        <td class="text-center align-middle">{{ matterSpecialty.niveau }}</td>
                                                        <td class="text-center align-middle">
                                                            <a href="{{ path('show_evaluation_and_do_claims', {'id': registration.id, 'matterSpecialty': matterSpecialty.id}) }}" class="btn btn-success btn-sm">
                                                                <i class="fas fa-eye"></i>&nbsp;Devoirs
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-success">
                <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
            </a>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('table.display').DataTable();
        } );
    </script>
{% endblock %}

