{% extends 'base/base.html.twig' %}
{% block title %}Vos inscriptions{% endblock %}
{% block body %}
    <div class="container-fluid mt-3">
        {% if app.user %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('account') }}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inscriptions</li>
                </ol>
            </nav>
            {% if app.user.profile == "ETUDIANT" %}
                <div class="card mb-4 card-header-actions h-100">
                    <div class="card-header text-white" style="background-color:#800080;">
                        <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                          <i class="fas fa-ellipsis-h"></i>&ensp;LISTE DE VOS INSCRIPTIONS
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-secondary">
                                    <tr class="text-uppercase font-weight-bold text-center text-white">
                                        <th class="align-middle">Rentrée</th>
                                        <th class="align-middle">Niveau</th>
                                        <th class="align-middle">Spécialité</th>
                                        <th class="align-middle">Sémestre</th>
{#                                        <th class="align-middle">Archivée</th>#}
                                        <th class="align-middle">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registration in registrations %}
                                        <tr class="text-uppercase">
                                            <td class="text-center align-middle">{{ registration.rentree }}</td>
                                            <td class="text-center align-middle">{{ registration.level.wording }}</td>
                                            <td class="align-middle">{{ registration.specialty.wording }}</td>
                                            <td class="text-center align-middle">{{ registration.semestre }}</td>
                                            {#<td class="text-center align-middle">
                                                {% if registration.semester.academicYear.archived == false or registration.semester.academicYear.archived == null %}
                                                    <i class="fas fa-toggle-off fa-2x"></i>
                                                {% elseif registration.semester.academicYear.archived == true %}
                                                    <i class="fas fa-toggle-on fa-2x text-success"></i>
                                                {% else %}
                                                    {% if registration.semester.archived == false or registration.semester.archived == null %}
                                                        <i class="fas fa-toggle-off fa-2x"></i>
                                                    {% else %}
                                                        <i class="fas fa-toggle-on fa-2x text-success"></i>
                                                    {% endif %}
                                                {% endif %}
                                            </td>#}
                                            <td class="text-center align-middle">
                                                <a href="{{ path('students_registration_evaluations_matters_index', {'id': registration.id}) }}" class="btn btn-success btn-sm m-2">Matières&nbsp;<i class="fas fa-eye"></i></a>
                                                <a href="{{ path('students_registrations_exams', {'id': registration.id}) }}" class="btn btn-purple btn-sm m-2">Examens&nbsp;<i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-success">
                <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
            </a>
        {% endif %}
    </div>
{% endblock %}

