{% extends 'admin/base.html.twig' %}
{% block title %}Réclamation - {{claim.id}}{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a class="text-decoration-none" href="{{ path('admin') }}">
                                                <i class="fas fa-home" style="color:white;"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a class="text-decoration-none" href="{{ path('students_index') }}">
                                                Liste des étudiants
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item text-white" aria-current="page">
                                            <a class="text-decoration-none" href="{{ path('show_students_claims', {'id': claim.author.id}) }}">
                                                {{ claim.author.fullName }}
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            Reclamation #{{claim.id}}
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-md-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                <span class="text-uppercase bg-success text-white font-weight-bold p-2 mr-5">Modifier la Réclamation</span>
                                <a class="btn btn-danger" href="{{ path('show_students_claims', {'id': claim.author.id}) }}"><i class="fas fa-reply"></i></a>
                            </div>
                            <div class="card-body">
                                <span class="badge badge-pill badge-purple pt-2 pb-2 pl-3 pr-3 mb-3">{{ claim.matterSpeciality.semester}} / {{ claim.matterSpeciality.matiere}}</span><br>
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-success m-2">Enregistrer les modifications&ensp;<i class="fas fa-check"></i></button>
                                <a href="{{ path('admin_delete_students_claims', {'id': claim.id}) }}" class="btn btn-danger m-2">
                                    Supprimer&ensp;<i class="fas fa-trash"></i>
                                </a>
                                {{ form_end(form) }}
                                <hr>
                                {# capture #} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}