{% extends 'admin/base.html.twig' %}
{% block title %}Liste des matières de l'enseignant{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">
                                            <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="{{ path('teachers_index') }}">
                                                Liste des enseignants
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            {{ user.fullName }}
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <a class="nav-link text-uppercase text-purple font-weight-bold btn">
                                    <i class="fas fa-code"></i>&ensp;{{matters|length}} Matière(s) trouvée(s)
                                </a>
                            </li>
                            <li class="nav-item ml-auto m-2">
                                <a class="nav-link btn btn-purple text-uppercase" href="{{ path('update_teacher_matters', {'id': user.id}) }}">
                                    <i class="fas fa-edit"></i>&ensp;Mise à jour des matières
                                </a>
                            </li>
                            <li class="nav-item m-2">
                                <a class="nav-link btn btn-danger" href="{{ path('teachers_index') }}">
                                    <i class="fas fa-reply"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-secondary">
                                    <tr class="text-uppercase font-weight-bold text-center text-white">
                                        <th class="align-middle">Libellé</th>
                                        <th class="align-middle">Code</th>
{#                                        <th class="align-middle">Spécialités liées</th>#}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for matter in matters %}
                                    <tr>
                                        <td class="align-middle">{{ matter.wording }}</td>
                                        <td class="align-middle text-center">{{ matter.coded }}</td>
{#                                        <td class="align-middle text-center">{{ matter.matterSpecialties|length }}</td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
