{% extends 'base/base.html.twig' %}
{% block title %}Réclamation - {{ evaluation_claim.id }}{% endblock %}
{% block body %}
    <div class="container-fluid mt-3">
        {% if app.user %}
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item">
                            <a class="btn btn-danger" href="{{ path('account') }}"><i class="bi-reply-fill" style="color:white;"></i></a>
                        </li>
                    </ol>
                </nav>
                <div class="card mb-4">
                    <div class="card-header">
                        <br>
                        <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                             {{ evaluation_claim.evaluation }} / {{ matterSpecialty.matiere }}
                        </span>
                        <br>
                        <p class="mt-2">
                            {#{% if evaluation.semester.academicYear.archived == false or evaluation.semester.academicYear.archived == null %}
                                #}{# Rentrée Non Archivée #}{#
                                <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                    <i class="fas fa-folder-open"></i>&nbsp;Non Archivé
                                </span>
                            {% elseif evaluation.semester.academicYear.archived == true %}
                                <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                    <i class="fas fa-file-archive"></i>&nbsp;Rentrée Archivée
                                </span>
                            {% else %}
                                {% if evaluation.semester.archived == false or evaluation.semester.archived == null %}
                                    #}{# Semestre Non Archivé #}{#
                                    <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                        <i class="fas fa-folder-open"></i>&nbsp;Non Archivé
                                    </span>
                                {% elseif evaluation.semester.archived == true %}
                                    <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                        <i class="fas fa-file-archive"></i>&nbsp;Sémestre Archivé
                                    </span>
                                {% else %}
                                    {% if evaluation.archived == false or evaluation.archived == null %}
                                        #}{# Evaluation Non Archivée #}{#
                                        <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                            <i class="fas fa-folder-open"></i>&nbsp;Non Archivé
                                        </span>
                                    {% else %}
                                        <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                            <i class="fas fa-file-archive"></i>&nbsp;Devoir Archivé
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}#}
                        </p>
                    </div>
                    <div class="card-body">
                        <span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                            Réclamation
                        </span>
                        <hr class="mt-1">
                        <h3 class="font-weight-bold m-2"><strong>{{ evaluation_claim.wording }}</strong></h3>
                        <p class="m-2"><i class="bi-person"></i>&nbsp;<a>{{evaluation_claim.author.fullName|title}} ({{evaluation_claim.author.email}})</a>, <i class="bi-clock"></i>&nbsp;{{ evaluation_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                        <div class="row">
                            <div class="col-xl-6 col-md-12">
                                <a href="{{evaluation_claim.capturePath}}">
                                    <img class="img-fluid" src="{{evaluation_claim.capturePath}}" alt="{{ evaluation_claim.wording }}">
                                </a>
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <p class="m-2">{{ evaluation_claim.content }}</p>
                            </div>
                        </div>
                        {% if app.user.profile != "ETUDIANT" %}
                            <hr class="my-3">
                            <h5 class="ml-2"><span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                                AJOUTER UNE REPONSE
                            </span></h5>
                            {#<h5 class="ml-2">AJOUTER UNE REPONSE</h5>#}
                            <div class="row">
                                <div class="col m-2">
                                    {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button type="submit" class="btn btn-success">
                                            Enregistrer votre réponse&nbsp;<i class="fas fa-check-circle"></i>
                                        </button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        {% endif %}
                        {#<hr class="my-2">#}
                        {% if evaluation_claim.answers|length > 0 %}
                            <hr class="my-2">
                            <div class="container-fluid bg-gray-200">
                            {% set answers = evaluation_claim.answers %}
                                <br><span class="bg-purple text-uppercase text-white font-weight-bold p-2">
                                Réponses
                                </span><br>
                                <hr class="my-2">
                                {% for answer in answers %}
                                    <div class="row">
                                        <div class="col m-2">
                                            <p>{{ answer.content }}</p>
                                            <p>
                                            <i class="bi-person"></i>&nbsp;<a>{{answer.author.fullName|title}}</a>, 
                                            <i class="bi-clock"></i>&nbsp;{{ answer.createdAt|format_datetime('short', 'short', locale='fr') }}
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-success">
                <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/ui/js/app.js')}}"></script>
{% endblock %}
