{% extends 'base/base.html.twig' %}
{% block title %}Réclamation - {{ exam_claim.id }}{% endblock %}
{% block body %}
<div class="container-fluid mt-3">
    {% if app.user %}
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item">
                        <a class="btn btn-danger" href="{{ path('account') }}"><i class="bi-reply-fill" style="color:white;"></i></a>
                    </li>
                </ol>
            </nav>
            <div class="card mb-4">
                <div class="card-header">
                    <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                        {{ examination.exam.session }} / {{ examination.matterSpecialty.matiere }} / {{ examination.exam.semester }}
                    </span>
                </div>
                <div class="card-body">
                    <span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                        Réclamation
                    </span>
                    <hr class="mt-1">
                    <h3 class="font-weight-bold m-2"><strong>{{ exam_claim.wording }}</strong></h3>
                    <p class="m-2"><i class="bi-person"></i>&nbsp;<a>{{exam_claim.author.fullName|title}} ({{exam_claim.author.email}})</a>, <i class="bi-clock"></i>&nbsp;{{ exam_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                    <div class="row">
                        <div class="col-xl-6 col-md-12">
                            <a href="{{exam_claim.capturePath}}">
                                <img class="img-fluid" src="{{exam_claim.capturePath}}" alt="{{ exam_claim.wording }}">
                            </a>
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <p class="m-2">{{ exam_claim.content }}</p>
                        </div>
                    </div>
                    {% if app.user.profile != "ETUDIANT" %}
                        <hr class="my-3">
                        <h5 class="ml-2"><span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                            AJOUTER UNE REPONSE
                        </span></h5>
                        {#<h5 class="ml-2">AJOUTER UNE REPONSE</h5>#}
                        <div class="row">
                            <div class="col m-2">
                                {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-success">
                                        Enregistrer votre réponse&nbsp;<i class="fas fa-check-circle"></i>
                                    </button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    {% endif %}
                    {#<hr class="my-2">#}
                    {% if exam_claim.answers|length > 0 %}
                        <hr class="my-2">
                        <div class="container-fluid bg-gray-200">
                        {% set answers = exam_claim.answers %}
                            <br><span class="bg-purple text-uppercase text-white font-weight-bold p-2">
                                Réponses
                            </span><br>
                            <hr class="my-2">
                            {% for answer in answers %}
                                <div class="row">
                                    <div class="col ml-2">
                                        <p>{{ answer.content }}</p>
                                        <p><i class="bi-person"></i>&nbsp;<a>{{answer.author.fullName|title}}</a>, <i class="bi-clock"></i>&nbsp;{{ answer.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                                    </div>
                                </div>
                                <hr class="my-2">
                            {% endfor %}
                        </div>
                    {% endif %}
                    {#<hr class="my-3">#}
                </div>
            </div>
        </div>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-success">
            <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
        </a>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/ui/js/app.js')}}"></script>
{% endblock %}
