<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UVCI e-Reclamations | Notification</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            background-color: #430243;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }

        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }

        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }

        .bottom {
            background-color: #efefee;
        }

        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }

        .logo {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #430243;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
        .btn-green {
            display: inline-block;
            padding: 10px 20px;
            background-color: #04691d;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('account') }}">
                <img src="https://campus.uvci.edu.ci/mooc/assets/images/logouvci2.png" class="logo" alt="Logo UVCI">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">
                [Résultat après réclamation] - Examen Session {{ session }} - Rentrée de {{ academyEntry }} – Spécialités {{ specialitiesWording }}
            </h1>
            <p class="block">
                Chers Étudiants de {{ level.wording }} - {{ semester }} - Rentrée semestrielle de {{ academyEntry }}
                - spécialité {{ specialitiesWording }} <br><br>
                Le Service Scolarité et Études vient par cette note, vous informer de
                la disponibilité des résultats de la session {{ session }} du {{ semester }} pour les spécialités {{ specialitiesWording }}
                de {{ level.wording }} {{ semester }} rentrée de {{ academyEntry }} <b>après les traitements des
                réclamations qui ont été soumises sur la plateforme de réclamation du {{ startDate|format_datetime('short', 'short', locale='fr') }} au {{ endDate|format_datetime('short', 'short', locale='fr') }}</b>
            </p>
            <p class="block">
                <b>Pour consulter vos résultats :</b> <br>
                1- Connectez-vous à votre espace étudiant via la plateforme scolarité <a
                        href="https://scolarite.uvci.edu.ci/etudiant/login">scolarite.uvci.edu.ci/etudiant/login</a><br>
                2- Cliquez sur le menu <b>'Résultat d'examen'</b> dans la barre des menus. <br>
                3- Cliquez sur le sous-menu <b>'Résultat semestriel'</b>. <br>
                4-Renseignez les champs puis cliquez sur le bouton <b>'Afficher'</b> pour afficher vos résultats.
            </p>

            {% if notabene %}
                <p class="block">
                    NB : {{ notabene }}
                </p>
            {% endif %}
        </div>
        <div class="footer">
            <p class="block text-center">
                <a href="{{ url('account') }}" class="btn-green">Se Connecter</a>
            </p>
        </div>
    </div>
</div>
</body>

</html>