{% extends 'admin/base.html.twig' %}
{% block title %}Liste des reclamations d'une matière d'examen{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('admin') }}">
                                                <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a class="text-decoration-none" href="{{ path('exams_index') }}">
                                                Liste des examens
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a class="text-decoration-none" href="{{ path('details_exam', {slug: examination.exam.slug}) }}">
                                                {{examination.exam.session}}
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            {{examination.slug}}
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-purple text-white font-weight-bold p-2">
                                    <i class="fas fa-tasks"></i>&ensp;Reclamations / {{ examination.matterSpecialty.matiere }} / examen / {{ examination.exam.slug }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="text-uppercase text-center text-purple">
                                    <th class="align-middle">#ID</th>
                                    <th class="align-middle">Date</th>
                                    <th class="align-middle">Session</th>
                                    <th class="align-middle">Rentrée</th>
                                    <th class="align-middle">Semestre</th>
                                    <th class="align-middle">Epreuve</th>
                                    <th class="align-middle">Libellé réclamation</th>
                                    <th class="align-middle">Auteur</th>
                                    <th class="align-middle">Réponses</th>
                                    <th class="align-middle">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for claim in claims %}
                                    <tr>
                                        <td class="align-middle">{{ claim.id }}</td>
                                        <td class="text-center align-middle">{{ claim.createdAt|format_datetime('short', 'short', locale='fr') }}</td>
                                        <td class="text-center align-middle">{{ claim.examination.exam.session }}</td>
                                        <td class="text-center align-middle">{{ claim.examination.matterSpecialty.codeRentree }}</td>
                                        <td class="text-center align-middle">{{ claim.examination.exam.semester }}</td>
                                        <td class="align-middle">{{ claim.examination.matterSpecialty.matiere }}</td>
                                        <td class="align-middle">{{ claim.wording }}</td>
                                        <td class="align-middle">{{ claim.author.fullName }}</td>
                                        <td class="text-center align-middle">
                                            {% set nbAns = claim.answers|length %}
                                            {% if nbAns != 0 %}
                                                <span class="badge badge-pill badge-success pl-2 pr-2">{{nbAns}}</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger pl-2 pr-2">{{nbAns}}</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center align-middle">
                                            <a href="{{ path('admin_examination_claims', {'id' : claim.examination.id, 'claim_id' : claim.id}) }}" class="btn btn-success btn-sm m-1">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a href="{{ path('admin_deleteclaims', {'id': claim.id}) }}" class="btn btn-danger btn-sm m-1">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
