{% extends 'admin/base.html.twig' %}
{% block title %}Détails de l'examen{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('admin') }}">
                                            <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a class="text-decoration-none" href="{{ path('exams_index') }}">
                                                Liste des examens
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            {{exam.session}}
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-purple text-white font-weight-bold p-2">
                                    <i class="fas fa-tasks"></i>&ensp;MATIÈRES-EXAMEN-{{exam.slug}}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-uppercase text-center text-purple">
                                        <th class="align-middle">Matière (ECUE)</th>
                                        <th class="align-middle">Session</th>
                                        <th class="align-middle">Rentrée</th>
                                        <th class="align-middle">Niveau</th>
                                        <th class="align-middle">Spécialité</th>
                                        <th class="align-middle">Reclamations</th>
                                        <th class="align-middle">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for examination in examinations %}
                                        <tr>
                                            <td class="align-middle">{{ examination.matterSpecialty.matiere }}</td>
                                            <td class="text-center align-middle">{{ examination.exam.session }}</td>
                                            <td class="text-center align-middle">{{ examination.matterSpecialty.codeRentree }}</td>
                                            <td class="text-center align-middle">{{ examination.exam.level.wording }}</td>
                                            <td class="text-center align-middle">{{ examination.matterSpecialty.codeSpecialite }}</td>
                                            <td class="text-center align-middle">
                                                {% set nbAns = examination.claims|length %}
                                                {% if nbAns == 0 %}
                                                    <span class="badge badge-pill badge-success pl-2 pr-2">{{nbAns}}</span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-danger pl-2 pr-2">{{nbAns}}</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-center align-middle">
                                                <a title="Liste des reclamations" href="{{ path('list_exam_claims', {'id': examination.id}) }}" class="btn btn-primary btn-sm">
                                                    <i class="fas fa-comment"></i>
                                                </a>
                                                <a title="Supprimer" href="{{ path('delete_exams_examinations', {'id': examination.id}) }}" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
