{% extends 'admin/base.html.twig' %}
{% block title %}Liste des examens{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">
                                            <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            Liste des examens
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                                    <i class="fas fa-book"></i>&ensp;Liste des examens
                                </span>
                            </li>
                            <li class="nav-item ml-auto m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('add_exams') }}">
                                    <i class="fas fa-plus"></i>&ensp;AJOUTER
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-uppercase align-midlle text-center text-purple">
                                        <th class="align-middle">Date de publication</th>
                                        <th class="align-middle">Semestre</th>
                                        <th class="align-middle">Session</th>
                                        <th class="align-middle">Rentrée</th>
                                        <th class="align-middle">Niveau</th>
                                        <th class="align-middle">Période</th>
                                        <th class="align-middle">Spécialités</th>
                                        <th class="align-middle">Archivée</th>
                                        <th class="align-middle">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for exam in exams %}
                                    <tr>
                                        <td class="text-center align-midlle">
                                            {{ exam.createdAt|format_datetime('short', 'short', locale='fr') }}
                                        </td>
                                        <td class="text-center align-midlle">{{ exam.semester }}</td>
                                        <td class="text-center align-midlle">{{ exam.session }}</td>
                                        <td class="text-center align-midlle">{{ exam.academyEntry }}</td>
                                        <td class="text-center align-midlle">{{ exam.level }}</td>
                                        <td class="align-middle">Du {{ exam.startDate|format_datetime('short', 'none', locale='fr') }} au {{ exam.endDate|format_datetime('short', 'none', locale='fr') }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{{ path('list_specialities_exam', {'slug': exam.slug}) }}">
                                                {{ exam.specialities|length }}
                                            </a>
                                        </td>
                                        <td class="text-center align-midlle">
                                            {% if exam.archived == false or exam.archived == null %}
                                                <i class="fas fa-toggle-off fa-2x"></i>
                                            {% else %}
                                                <i class="fas fa-toggle-on fa-2x text-success"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center align-midlle">
                                            <a title="Details" href="{{ path('details_exam', {'slug': exam.slug}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                                            <a title="Modifier" href="{{ path('edit_exam', {'slug': exam.slug}) }}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                            {% if exam.archived == false or exam.archived == null %}
                                                <a title="Publier les résultats de cet examen" href="{{ path('exam_result_reporting', {'slug': exam.slug}) }}" class="btn btn-warning btn-sm"><i class="fas fa-check"></i></a>
                                            {% endif %}
                                            <a href="{{ path('update_exams', {'id': exam.id}) }}" class="btn btn-purple btn-sm" title="Archiver / Désarchiver"><i class="fas fa-file-archive"></i></a>
{#                                            <a title="Supprimer" href="{{ path('delete_exam', {'id': exam.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </main>
        <footer class="footer mt-auto footer-light">
            {#  footer #}
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
