{% extends 'base/base.html.twig' %}
{% block title %}Liste de vos examens{% endblock %}
{% block body %}
    <div class="container-fluid mt-3">
        {% if app.user %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('account') }}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('student_semesters_index') }}">Inscriptions</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{semester}}</li>
                </ol>
            </nav>
            {% if app.user.profile == "ETUDIANT" %}
                <div class="card mb-4 card-header-actions h-100">
                    <div class="card-header text-white text-uppercase" style="background-color:#800080;">
                        <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                        <i class="fas fa-ellipsis-h"></i>&ensp;{{level.coded}} - {{specialty.coded}} / Examens / {{semester}}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-secondary">
                                    <tr class="text-uppercase font-weight-bold text-center text-white">
                                        <th class="align-middle">Session</th>
                                        <th class="align-middle">Semestre</th>
                                        <th class="align-middle">Niveau</th>
                                        <th class="align-middle">Spécialité</th>
                                        <th class="align-middle">Archivé</th>
                                        <th class="align-middle">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exam in exams %}
                                        <tr>
                                            <td class="align-middle text-center">{{ exam.session }}</td>
                                            <td class="align-middle text-center">{{ exam.semester }}</td>
                                            <td class="align-middle text-center">{{ exam.level.wording }}</td>
                                            <td class="align-middle">{{ specialty.wording }}</td>
                                            <td class="text-center align-middle">
                                                {% if exam.archived == false or exam.archived == null %}
                                                    <i class="fas fa-toggle-off fa-2x"></i>
                                                {% else %}
                                                    {% if exam.expire %}
                                                        <i class="fas fa-toggle-on fa-2x text-success"></i>
                                                    {% else %}
                                                        <i class="fas fa-toggle-off fa-2x"></i>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="text-center align-middle">
                                                <a href="{{ path('students_exams_details', {'id': exam.id, 'specialty': specialty.id}) }}" class="btn btn-success btn-sm">
                                                    Matières de composition
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-success">
                <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
            </a>
        {% endif %}
    </div>
{% endblock %}

