{% extends 'base/base.html.twig' %}
{% block title %}{{ examination.exam.session }} - {{ examination.matterSpecialty.matiere }} - {{ examination.exam.semester }}{% endblock %}
{% block body %}
<div class="container-fluid mt-3">
    {% if app.user %}
        {% if app.user.profile == "ETUDIANT" %}
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('account') }}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('student_semesters_index') }}">Inscriptions</a></li>
                        <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ path('students_registrations_exams', {'id': registration.id}) }}">{{examination.exam.semester}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{examination.exam.session}}</li>
                    </ol>
                </nav>
                {# begin card of examination detail #}
                <div class="card m-2">
                    <div class="card-header">
                        <br>
                        <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                            {{ examination.exam.session }} / {{ examination.matterSpecialty.matiere }} / {{ examination.exam.semester }}
                        </span><br><br>
                        {% if examination.exam.archived == false or examination.exam.archived == null or canSendClaim %}
                            {# Button trigger modal #}
                            <button type="button" class="btn btn-purple font-weight-bold mt-2" data-toggle="modal" data-target="#staticBackdrop">
                                Soumettre une Réclamation&nbsp;<i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        {% else %}
                            {# Examen Archivé #}
                            {% if examination.exam.expire == false %}
                                {# Button trigger modal #}
                                <button type="button" class="btn btn-purple font-weight-bold mt-2" data-toggle="modal" data-target="#staticBackdrop">
                                    Soumettre une Réclamation&nbsp;<i class="fas fa-long-arrow-alt-right"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                        {# Modal #}
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title bg-purple text-white font-weight-bold p-2" id="staticBackdropLabel">Votre Réclamation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button type="submit" class="btn btn-success">
                                            Enregistrer&nbsp;<i class="fas fa-check-circle"></i>
                                        </button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if claims|length > 0 %}
                            <span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                                Vos Réclamations
                            </span>
                            <hr>
                            {% for claim in claims %}
                                <h3 class="font-weight-bold mb-2"><strong>{{ claim.wording }}</strong></h3>
                                <p>
                                    <i class="bi-person"></i>&nbsp;<a>{{claim.author.fullName|title}}</a>, 
                                    <i class="bi-clock"></i>&nbsp;{{ claim.createdAt|format_datetime('short', 'short', locale='fr') }}
                                </p>
                                <div class="row">
                                    <div class="col-xl-6 col-md-12">
                                        <img class="img-fluid" src="{{claim.capturePath}}" alt="{{ claim.wording }}">
                                    </div>
                                    <div class="col-xl-6 col-md-12">
                                        <p class="text-justify">{{ claim.content }}</p>
                                    </div>
                                </div>
                                {#<hr class="my-3">#}
                                {% if claim.answers|length > 0 %}
                                    <hr class="my-2">
                                    <div class="container-fluid bg-gray-200">
                                        {% set answers = claim.answers %}
                                        <br><span class="bg-purple text-uppercase text-white font-weight-bold p-2">
                                            Réponses
                                        </span><br>
                                        {% for answer in answers %}
                                            <hr class="my-2">
                                            <div class="row">
                                                <div class="col">
                                                    <p>{{ answer.content }}</p>
                                                    <p>
                                                    <i class="bi-person"></i>&nbsp;<a>{{answer.author.fullName|title}}</a>, 
                                                    <i class="bi-clock"></i>&nbsp;{{ answer.createdAt|format_datetime('short', 'short', locale='fr') }}
                                                    </p>
                                                </div>
                                            </div>
                                            {#<hr class="my-3">#}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <hr class="my-2">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}{# end student #}
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-success">
            <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
        </a>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/ui/js/app.js')}}"></script>
{% endblock %}
