{% extends 'admin/base.html.twig' %}
{% block title %}Liste des spécialités{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">
                                            <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            Liste des spécialités
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                                    <i class="fas fa-swatchbook"></i>&ensp;Liste des spécialités
                                </span>
                            </li>
                            <li class="nav-item ml-auto m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('refresh_specialities') }}">
                                    <i class="fas fa-plus"></i>&ensp;ACTUALISER
                                </a>
                            </li>
                            {#<li class="nav-item ml-auto m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('add_specialty') }}">
                                    <i class="fas fa-plus"></i>&ensp;AJOUTER
                                </a>
                            </li>#}
                            {#<li class="nav-item m-2">
                                <a class="nav-link btn btn-purple" href="{{ path('imports_specialties') }}">
                                    <i class="fas fa-upload"></i>&ensp;AJOUTER PAR IMPORTATION
                                </a>
                            </li>#}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-secondary">
                                    <tr class="text-uppercase font-weight-bold text-center text-white">
                                        <th class="align-middle">Libellé</th>
                                        <th class="align-middle">Code</th>
                                        <th class="align-middle">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for specialty in specialties %}
                                    <tr>
                                        <td class="align-middle">{{ specialty.wording }}</td>
                                        <td class="align-middle text-center">{{ specialty.coded }}</td>
                                        <td class="align-middle text-center">
{#                                            <a href="{{ path('specialty_edit', {'coded': specialty.coded}) }}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>#}
                                            <a href="{{ path('delete_specialty', {'id': specialty.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
