{% extends 'admin/base.html.twig' %}
{% block title %}Liste des examens{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">
                                                <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            Liste des réclamations acceptées
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                                    <i class="fas fa-book"></i>&ensp;Liste des réclamations acceptées
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.session) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.academyEntry) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.level) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.semester) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.speciality) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.startDate) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.endDate) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Rechercher&ensp;<i class="fas fa-search"></i></button>
                        {{ form_end(form) }}
                        <br>
                        {% if claims %}

                        <div class="datatable">
                            <table data-order='[[ 0, "desc" ]]' class="display table table-striped table-bordered table-hover" id="" width="100%" cellspacing="0">
                                <thead class="bg-secondary">
                                <tr class="text-uppercase font-weight-bold text-center text-white">
                                    <th class="align-middle">#ID</th>
                                    <th class="align-middle">Date</th>
                                    <th class="align-middle">Session</th>
                                    <th class="align-middle">Rentrée</th>
                                    <th class="align-middle">Semestre</th>
                                    <th class="align-middle">Epreuve</th>
                                    <th class="align-middle">Libellé réclamation</th>
                                    <th class="align-middle">Auteur</th>
                                    <th class="align-middle">Réponses</th>
                                    <th class="align-middle">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for exam_claim in claims %}
                                <tr>
                                    <td class="text-center align-middle">{{ exam_claim.id }}</td>
                                    <td class="text-center align-middle">{{ exam_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</td>
                                    <td class="text-center align-middle">{{ exam_claim.examination.exam.session }}</div>
                        <td class="text-center align-middle">{{ exam_claim.examination.matterSpecialty.codeRentree }}</td>
                        <td class="text-center align-middle">{{ exam_claim.examination.exam.semester }}</td>
                        <td class="align-middle">{{ exam_claim.examination.matterSpecialty.matiere }}</td>
                        <td class="align-middle">{{ exam_claim.wording }}</td>
                        <td class="align-middle">{{ exam_claim.author.fullName }}</td>
                        <td class="text-center align-middle">
                            {% set nbAns = exam_claim.answers|length %}
                            {% if nbAns != 0 %}
                                <span class="badge badge-pill badge-success pl-2 pr-2">{{nbAns}}</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger pl-2 pr-2">{{nbAns}}</span>
                            {% endif %}
                        </td>
                        <td class="text-center align-middle">
                            <a target="_blank" href="{{ path('admin_examination_claims', {'id' : exam_claim.examination.id, 'claim_id' : exam_claim.id}) }}" class="btn btn-success btn-sm m-1">
                                <i class="fas fa-eye"></i>
                            </a>
                            {#<a href="{{ path('admin_deleteclaims', {'id': exam_claim.id}) }}" class="btn btn-danger btn-sm m-1">
                                        <i class="fas fa-trash"></i>
                                    </a>#}
                            <a href="{{ path('archive_dearchive', {'claim': exam_claim.id}) }}" class="btn btn-purple btn-sm" title="Archiver">
                                <i class="fas fa-file-archive"></i>
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    {% endif %}
                    </div>
                </div>

        </main>
        <footer class="footer mt-auto footer-light">
            {#  footer #}
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
