{% extends 'admin/base.html.twig' %}
{% block title %}Réclamation - {{ evaluation_claim.id }}{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{{ path('admin') }}">
                                                <i class="bi-reply-fill" style="color:white;"></i>
                                            </a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                             {{ evaluation_claim.evaluation }} / {{ evaluation_claim.matterSpeciality.matiere }} / {{ evaluation_claim.matterSpeciality.semester }}
                        </span>
                    </div>
                    <div class="card-body">
                        <span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                            Réclamation
                        </span>

                        <hr class="mt-2">
                        <h3 class="font-weight-bold m-2"><strong>{{ evaluation_claim.wording }}</strong></h3>
                        <p class="mb-2 ml-2"><i class="bi-person"></i>&nbsp;<a>{{evaluation_claim.author.fullName|title}} ({{evaluation_claim.author.email}})</a>, <i class="bi-clock"></i>&nbsp;{{ evaluation_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                        <div class="row">
                            <div class="col-xl-6 col-md-12">
                                <a href="{{evaluation_claim.capturePath}}">
                                    <img class="img-fluid" src="{{evaluation_claim.capturePath}}" alt="{{ evaluation_claim.wording }}">
                                </a>
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <p class="m-2">{{ evaluation_claim.content }}</p>
                            </div>
                        </div>
                        <hr class="my-3">
                        <h5 class="ml-2">
                            <span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                                AJOUTER UNE REPONSE
                            </span>
                        </h5>
                        {#<h5 class="ml-2">Ajouter une reponse:</h5>#}
                        <div class="row">
                            <div class="col m-2">
                                {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-success">
                                        Enregistrer votre reponse&nbsp;<i class="fas fa-check-circle"></i>
                                    </button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                        {#<hr class="my-2">#}
                        {% if evaluation_claim.answers|length > 0 %}
                            <hr class="my-2">
                            <div class="container-fluid bg-gray-200">
                            <br><span class="bg-purple text-uppercase text-white font-weight-bold p-2">
                                Réponses
                            </span><br>
                            <hr class="my-2">
                            {% set answers = evaluation_claim.answers %}
                                {% for answer in answers %}
                                    <div class="row">
                                        <div class="col m-2">
                                            <p>{{ answer.content }}</p>
                                            <p><i class="bi-person"></i>&nbsp;<a>{{answer.author.fullName|title}}</a>, <i class="bi-clock"></i>&nbsp;{{ answer.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
