{% extends 'admin/base.html.twig' %}
{% block title %}Réclamation - {{ exam_claim.id }}{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{{ path('admin') }}">
                                                <i class="bi-reply-fill" style="color:white;"></i>
                                            </a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                            {{ examination.exam.session }} / {{ examination.matterSpecialty.matiere }} / {{ examination.exam.semester }} / {{ examination.matterSpecialty.niveau }}
                        </span>
                    </div>
                    <div class="card-body">
                        <span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                            Réclamation
                        </span>
                        <hr class="mt-2">
                        <div class="row">
                            {% for test in tests %}
                                {% if test["name"] is defined and test["mark"] is defined %}
                                    <div class="col-md-6">
                                        <p>{{ test["name"] }} <span class="btn-sm btn-warning">{{ test["mark"] }}</span></p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr class="mt-2">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ examination.matterSpecialty.matiere }}</h2>
                            </div>
                            {% if result['moyennedevoir'] is defined %}
                            <div class="col-md-4">
                                Moyenne Devoirs : <span class="btn-sm btn-warning">{{ result['moyennedevoir'] }}</span>
                            </div>
                            {% endif %}
                            {% if result['noteexamensession1'] is defined %}
                            <div class="col-md-4">
                                Note Examen Session 1 : <span class="btn-sm btn-warning">{{ result['noteexamensession1'] }}</span>
                            </div>
                            {% endif %}
                            {% if result['moyenne_session1'] is defined %}
                                <div class="col-md-4">
                                    Moyenne ECUE Session 1 : <span class="btn-sm btn-warning">{{ result['moyenne_session1'] }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row">
                            {% if result['noteexamensession2'] is defined %}
                                <div class="col-md-4">
                                    Moyenne Devoirs : <span class="btn-sm btn-warning">{{ result['moyennedevoir'] }}</span>
                                </div>
                            {% endif %}
                            {% if result['noteexamensession2'] is defined %}
                                <div class="col-md-4">
                                    Note Examen Session 2 : <span class="btn-sm btn-warning">{{ result['noteexamensession2'] }}</span>
                                </div>
                            {% endif%}
                            {% if result['moyenne_session2'] is defined %}
                                <div class="col-md-4">
                                    Moyenne ECUE Session 2 : <span class="btn-sm btn-warning">{{ result['moyenne_session2'] }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <hr class="mt-2">
                        {% if not exam_claim.accepted and not exam_claim.rejected %}
                            <div class="row">
                                <div class="col-md-3">
                                    <a type="button" href="{{ path("admin_examination_claim_reject", {'id': examination.id, 'claim_id': exam_claim.id}) }}" class="btn-lg btn-danger">Rejeter</a>
                                </div>
                                <div class="col-md-3 right">
                                    <button type="button" class="btn-lg btn-success" data-toggle="modal" data-target="#accepted">
                                        Accepter
                                    </button>

                                    <div class="modal fade" id="accepted" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title bg-purple text-white font-weight-bold p-2" id="staticBackdropLabel">Action à effectuer</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ form_start(accepted_form) }}
                                                    {{ form_widget(accepted_form) }}
                                                    <button type="submit" class="btn btn-success">
                                                        Accepter&nbsp;<i class="fas fa-check"></i>
                                                    </button>
                                                    {{ form_end(accepted_form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-2">
                        {% endif %}
                        <h3 class="font-weight-bold m-2"><strong>{{ exam_claim.wording }}</strong></h3>
                        <p class="mb-2 ml-2"><i class="bi-person"></i>&nbsp;<a>{{exam_claim.author.fullName|title}} ({{exam_claim.author.email}})</a>, <i class="bi-clock"></i>&nbsp;{{ exam_claim.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                        <div class="row">
                            <div class="col-xl-6 col-md-12">
                                <a href="{{exam_claim.capturePath}}">
                                    <img class="img-fluid" src="{{exam_claim.capturePath}}" alt="{{ exam_claim.wording }}">
                                </a>
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <p class="m-2">{{ exam_claim.content }}</p>
                            </div>
                        </div>
                        <hr class="my-3">
                        <h5 class="ml-2"><span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                            AJOUTER UNE REPONSE
                        </span></h5>
                        <div class="row">
                            <div class="col m-2">
                                {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-success">
                                        Enregistrer votre réponse&nbsp;<i class="fas fa-check-circle"></i>
                                    </button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                        {% if exam_claim.answers|length > 0 %}
                            <hr class="my-2">
                            <div class="container-fluid bg-gray-200">
                                <br><span class="bg-purple text-uppercase text-white font-weight-bold p-2">
                                Réponses
                                </span><br>
                                <hr class="my-2">
                                {% set answers = exam_claim.answers %}
                                {% for answer in answers %}
                                    <div class="row">
                                        <div class="col ml-2">
                                            <p>{{ answer.content }}</p>
                                            <p><i class="bi-person"></i>&nbsp;<a>{{answer.author.fullName|title}}</a>, <i class="bi-clock"></i>&nbsp;{{ answer.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
